[Desktop Entry]
Name=Serey
Comment=Serey network client. Feed, blog, videos and account
Exec=qmlscene %u qml/Main.qml
Icon=assets/serey-logo.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-StageHint=SideStage
X-Lomiri-Gettext-Domain=serey.serey-io
